.main-header {
	background: linear-gradient(#2f2f2f, #191818);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
	position: relative;
	z-index: 2;
	.layout-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .9em .8em;
	}
	.logo {
		margin-left: 10px;
	}
	.search-box {
		input[type="search"],
		input[type="text"],
		.action.search {
			border: .25em solid #2e2e2e;
			background: linear-gradient(#e8e8e8, #fff);
		}
		input[type="search"],
		input[type="text"] {
			border-right-width: 0;
		}
		.action.search {
			border-left-width: 0;
		}
	}
}
