.main-menu {
	font-size: 1.17em;
	ul {
		@include reset-list;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		background: linear-gradient(#4e4d4d, #424242);
		border-radius: 0 0 .3em .3em;
		box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
		overflow: hidden;
	}
	li {
		flex: 1 0 auto;
	}
	a {
		text-transform: uppercase;
		color: #fdfdfd;
		display: inline-flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: .5em 0;
	}
	.current {
		background: #2f2f2f;
	}
	.icon {
		display: inline-block;
		margin-right: .7em;
		fill: #9b9b9b;
	}
	a:hover .icon {
		fill: #f88d1a;
	}
}