.page-header {
	overflow: hidden;

	margin: 3em 0;
	padding-left: 60px;
	>.icon {
		float: left;

		width: 60px;
		margin: .7em 0 0 -60px;

		fill: #9b9b9b;
	}
	p {
		font-size: 1.2em;

		margin: 0;
	}
}
