.nothing-found {
	text-align: center;
	fill: #f0f0f0;
	font-size: 1.1em;
	h2 {
		font-size: 1.2em;
		color: #2f2f2f;
		margin: 0;
	}
	.icon {
		margin: 3.5em 0 2.3em;
	}
	p {
		margin: 0;
	}
}

.search-query {
	text-transform: none;
	color: #9b9b9b;
}
