$coupon-types: cashback, delivery, discount, gift;
h1+.coupon {
	margin-top: 2.5em;
}
.coupon {
	border-radius: .33em;
	background: #fff;
	padding: 1em .75em 0 1.7em;
	margin: 4px 0 2.5em;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	transition: margin ease-in-out .3s;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: .33em;
		box-shadow: 0 0 0 1px #e1e1e1,
					0 0 7px rgba(0, 0, 0, .15);
					z-index: -1;
	}
	&:after {
		display: block;
		position: absolute;
		top: -4px;
		left: 10px;
	}
	&.social-open {
		margin-bottom: 2.5em + 3.9em;
		.social {
			transform: none;
		}
	}
	&.campaign {
		.action.primary {
			border-color: #e0ba36;
			background-image: linear-gradient(#f9c831 20%, #e17d24 77%);
			&:hover {
				border-color: #f2c730;
				background-image: linear-gradient(#f9d631 20%, #e19c24 77%);
			}
			&:active {
				border-color: #e0ba36;
				background-image: linear-gradient(#f0bd21 20%, #d06f18 77%);
			}
		}
		h1,
		h1 a {
			color: #ef5c5c;
		}
		h1 a:hover {
			color: #f09595;
		}
	}
	&.archive {
		.action.primary,
		.action.primary:hover,
		.action.primary:active {
			background-color: #F87501;
			background-image: linear-gradient(to top, #CCC 0%, #CCC 34%, #D8D8D8 63%, #D8D8D8 100%);
			border: 2px solid #D6D6D6;
			border-radius: 3px;
			box-shadow: inset 0 2px 9px rgba(0, 0, 0, 0.55);
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
			padding: .4em .9em;
		}
	}
	@each $type in $coupon-types {
		&.type-#{$type}:after {
			content: url('../img/icons/coupon/type-' + $type + '.svg');
		}
	}
	>div:first-child {
		flex-shrink: 0;
		width: 150px;
		margin-right: 1.7em;
	}
	>div:nth-child(2) {
		flex-basis: 0;
		flex-grow: 1;
		margin-bottom: 1.5em;
	}
	h1 {
		font-size: 1.5em;
		text-transform: none;
		line-height: 1.2;
		margin: .6em 0 1.4em;
		color: #21a5d6;
	}
	.rating {
		margin: 0 auto;
	}
	.shop {
		margin: 1.2em 0 .8em;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		img {
			max-width: 100%;
			vertical-align: top;
		}
		a {
			display: block;
			text-align: center;
			color: #9b9b9b;
			&:hover {
				color: #21a5d6;
			}
		}
		.text {
			background: linear-gradient(#f5f5f5, #fff9f2);
			border-top: 1px dashed #e5e5e5;
		}
	}
	.actions {
		@include reset-list;
		float: right;
		li {
			display: inline-block;
			&:not(:first-child) {
				margin-left: .8em;
			}
		}
		.action {
			fill: #9b9b9b;
			color: #9b9b9b;
			&:hover {
				fill: #4dc9f7;
			}
			&:active {
				fill: #f88d1a;
			}
			&.like {
				fill: none;
				&:hover,
				&.liked:hover {
					fill: none;
					stroke-width: 2px;
					color: #4dc9f7;
				}
				&:active,
				&.liked {
					fill: #ffc586;
					stroke-width: 2px;
					color: #ffa646
				}
				&.liked:active {
					fill: none;
					color: #9b9b9b;
					stroke-width: 1px;
				}

			}
		}
		.icon {
			vertical-align: top;
		}
	}
	.action {
		border: none;
		background: none;
		padding: 0;
	}
	.action.share {
		color: #9b9b9b;
		fill: #bfbfbf;
		&:hover {
			color: #21a5d6;
			fill: #21a5d6;
		}
	}
	.category {
		color: #9b9b9b;
		fill: #d3d3d3;
		display: inline-flex;
		align-items: center;
		.icon {
			margin-right: .4em;
		}
		&:hover {
			color: #21a5d6;
			fill: #21a5d6;
		}
	}
	.valid-for {
		float: right;
		width: 130px;
		margin-left: 1em;
		time,
		.expired {
			display: block;
			font-weight: bold;
			font-size: 2.2em;
			line-height: 1;
		}
		time {
			color: #464646;
		}
		&.expiring-soon time {
			color: #f88d1a;
		}
		.expired {
			color: #fa201b;
			text-transform: uppercase;
		}
	}
	.action.primary {
		display: block;
		overflow: hidden;
		padding: .4em .9em;
		text-align: center;
		border-style: solid;
		border-width: 2px;
		border-color: #a4c72c;
		border-radius: 3px;
		background: linear-gradient(#afd03e 37%, #8dc011 66%);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
		font-size: 1.33em;
		color: #fff;
		text-shadow: 0 -1px rgba(0, 0, 0, .3);
		&:hover {
			border-color: #c0dc5e;
			background-image: linear-gradient(#c0dc5e 20%, #9ebe2f 77%);
		}
		&:active {
			padding: .41em .9em .39em;
			border-color: #a4c72c;
			background-image: linear-gradient(#99c430 37%, #7eab10 66%);
		}
	}
	footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 90px 1.1em 0;
		position: relative;
		.social {
			display: flex;
			align-items: center;
			position: absolute;
			top: 100%;
			right: -.75em;
			left: -1.7em;
			background: #f3f7f8;
			box-shadow: 0 0 4px rgba(0, 0, 0, .2);
			border-radius: 0 0 .33em .33em;
			z-index: -2;
			padding: .7em 0 .7em 1.7em;
			transition: transform ease-in-out .3s;
			// transform: translateY(-110%);
			transform-origin: 50% 0;
			transform: perspective(400px) rotateX(-90deg);
			-webkit-backface-visibility: hidden;
		}
	}
	.social-list {
		margin-left: .8em;
	}
	.valid-till {
		display: inline-flex;
		align-items: center;
		color: #c9c9c9;
		fill: #c9c9c9;
		time {
			color: #9b9b9b;
			margin-left: .2em;
		}
		.icon {
			margin-right: .5em;
		}
	}
	.add-comment {
		border-bottom: 1px dashed;
		position: relative;
		margin-left: 20px;
		color: #21a5d6;
		fill: #21a5d6;
		line-height: 1;
		&:hover {
			color: #4dc9f7;
			fill: #4dc9f7;
		}
		.icon {
			position: absolute;
			top: 50%;
			left: -20px;
			margin-left: 3px;
			margin-top: -7px;
		}
	}
	.tag {
		position: absolute;
		right: -2px;
		bottom: -2px;
		color: #fdfdfd;
		width: 80px;
		height: 80px;
		overflow: hidden;
		&:before {
			text-transform: uppercase;
			text-align: center;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 110px;
			margin-left: -55px;
			transform-origin: 50% 0;
			transform: rotate(-45deg) translateY(8px);
			background: linear-gradient(225deg, #c9c9c9, #9b9b9b);
		}
		&:after {
			//trinagles (actually, half-hidden squares ^^)
			content: '';
			display: block;
			width: 3px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -51px;
			margin-top: -3px;
			background: #ab2c29;
			box-shadow: 95px 0 #c96800;
			transform-origin: 51px 0;
			transform: rotate(-45deg) translateY(8px);
			z-index: -1;
		}
	}
	.exclusive {
		&:before {
			content: 'Exclusive';
			background: linear-gradient(225deg, #ffa646, #f8521a);
		}
		&:after {
			background: #ab2c29;
			box-shadow: 95px 0 #c96800;
		}
	}
	.archive {
		&:before {
			content: 'Archive';
		}
		&:after {
			background: #464646;
			box-shadow: 95px 0 #2f2f2f;
		}
	}
	.core {
		min-width: 100%;
		flex-grow: 1;
		margin: 1.4em -.75em 1.4em -1.7em;
		color: #fff;
		background: linear-gradient(#f88d1a, #f87501);
		text-align: center;
		border: 1px solid #f4f4f4;
		border-bottom-width: 0;
		border-top-width: 0;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, .3);
		position: relative;
		&:before,
		&:after {
			content: '';
			display: block;
			height: 18px;
			position: absolute;
			left: 0;
			right: 0;
			background-image: url('../img/coupon-core-bg.png');
			background-repeat: repeat-x;
			background-position: 0 -19px;
			@media 
			(-webkit-min-device-pixel-ratio: 1.3),
			(min-resolution: 124.8dpi){
				background-image: url('../img/coupon-core-bg@2x.png');
				background-size: 618px 37px;
			}
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
			background-position: 0 0;
			height: 19px;
		}
		.action.primary {
			display: inline-block;
			vertical-align: middle;
			margin-left: .3em;
			padding: .7em .9em;
			fill: #fff;
			border-color: #48b9e3;
			background-image: linear-gradient(#25abdc 37%, #1a8ab3 66%);
			&:hover {
				border-color: #48b9e3;
				background-image: linear-gradient(#38bbec 37%, #239dca 66%);
			}
			&:active {
				padding: .8em .9em .6em;
				border-color: #2ba4d1;
				background-image: linear-gradient(#1d87b2 37%, #1d7092 66%);
			}
			.icon {
				margin-right: .4em;
				vertical-align: middle;
			}
		}
		.code-block {
			p {
				margin: 1em 0 .2em;
				font-size: 1.5em;
			}
		}
		.code {
			display: inline-block;
			font-size: 2.5em;
			color: #464646;
			vertical-align: middle;
			background-image: linear-gradient(#ffead4, #ffeddd);
			border: 3px solid #ffa039;
			box-shadow: inset 0 3px 2px rgba(0, 0, 0, .35);
			border-radius: 7px;
			width: 300px;
			padding: .15em;
		}
		.social {
			font-size: 1.33em;
			margin: 1.9em 0;
		}
		.social-list {
			margin-top: .6em;
			a {
				border-radius: 50%;
				box-shadow: -1px 2px rgba(0, 0, 0, .2),
							inset 0 0 5px rgba(0, 0, 0, .1);
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 50%;
					box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
				}
			}
		}
	}
	.shop-coupons-link {
		display: inline-block;
		margin-top: 1.2em;
		color: #656565;
		fill: #9b9b9b;
		.icon {
			vertical-align: middle;
			margin-right: .6em;
		}
		&:hover {
			color: #21a5d6;
			fill: #21a5d6;
		}
		&:active {
			color: #5992e9;
			fill: #5992e9;
		}
	}
}