.coupon-list {
	@include reset-list;
	li {
		&:nth-child(even) {
			background: #fff8f1;
		}
		border-top: 1px dashed #f88d1a;
		&:first-child {
			border-top-width: 0;
		}
	}
	a {
		display: block;
		overflow: hidden;
		padding: .75em .6em .5em;
		&:hover .coupon-shop {
			color: #ffa646;
		}
	}
	img {
		border: 1px solid #f0f0f0;
		float: left;
		margin-right: 1.25em;
		width: 52px;
		height: 52px;
	}
	.coupon-shop {
		font-size: 1.2em;
		font-weight: bold;
		color: #f88d1a;
	}
	.coupon-title {
		color: #656565;
	}
}