dialog {
	background: #fff;
	border-radius: .33em;
	border: 1px solid #e1e1e1;
	box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	>.close {
		float: right;
		background: transparent;
		border: none;
		padding: 0;
		.icon {
			fill: #b0b0b0;
			vertical-align: top;
		}
		&:hover {
			.icon {
				fill: #42c8f9;
			}	
		}
		&:active {
			.icon {
				fill: #0f698d;
			}	
		}
	}
	h1 {
		color: #464646;
		font-size: 1.5em;
		margin-top: 0;
	}
	input[type='text'],
	select,
	textarea {
		display: block;
		border-radius: .25em;
		border: 1px solid #d8d8d8;
		width: 100%;
		padding: .5em 1em;
		margin: .75em 0;
	}
}

dialog::backdrop,
.backdrop {
	background: rgba(39, 40, 40, .7);
}

.dialog-coupon {
	padding: 0;
	width: 620px;
	.close {
		position: absolute;
		top: .75em;
		right: .75em;
		z-index: 1;
	}
}
