.pickmeup {
	background: #fff;
	z-index: 1;
	.pmu-instance {
		display: block;
		width: 21.7rem;
		margin: 0 auto;
		height: auto;
		padding: 0;
		.pmu-button {
			color: #464646;
		}
		.pmu-days .pmu-not-in-month {
			display: none;
		}
		.pmu-days .pmu-today {
			color: #f57f00;			
			border-color: #f57f00;
		}
		.pmu-days,
		.pmu-day-of-week {
			display: flex;
			flex-wrap: wrap;
		}
		.pmu-days *,
		.pmu-day-of-week * {
			width: 2.3rem;
			margin: .3em .4rem;
			border: 2px solid transparent;
			border-radius: 50%;
			background: transparent;
		}
		.pmu-days * {
			font-size: 1.2rem;
			height: 2.3rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: #f0f0f0;
				border-color: #f0f0f0;
				color: #464646;
			}
		}
		.has-event {
			background: #d8f4ff;
			border-color: #4dc9f7;
		}
		.pmu-day-of-week {
			text-transform: uppercase;
			font-size: .8rem;
			color: #c9c9c9;
		}
		&:first-child,
		&:last-child {
			.pmu-month {
				width: 100%;
			}
		}
		nav {
			.pmu-prev,
			.pmu-next {
				width: 3em;
				height: auto;
				padding: .45em;
			}
			.pmu-month {
				width: 100%;
				text-transform: uppercase;
				font-size: 1.3em;
				font-weight: bold;
				color: #2f2f2f;
				padding: .45em 0;
			}
		}
		+.pmu-instance {
			margin-top: 1.25em;
		}
	}
	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display: none;
	}
}