.promo {
	position: relative;

	display: flex;
	overflow: hidden;

	margin-bottom: 2.5em;
	padding: 1.5em 1.4em 2.3em;

	border-radius: .33em;
	background-image: linear-gradient(#e9f3f7, #deedf0);
	box-shadow: 0 0 7px rgba(0, 0, 0, .15),
	inset 0 0 0 1px #e1e1e1;
	>div {
		flex-grow: 1;
	}
	&:after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		display: block;

		height: .8em;

		content: '';

		@include lines-pattern;
	}
	h1 {
		line-height: 1;
	}
	.icon,
	.logo {
		flex-shrink: 0;
	}
	.icon {
		width: 120px;

		fill: #6cc6e7;
	}
	input[type='email'] {
		font-size: 1.17rem;
		line-height: 2.5em;

		height: 3em;
		margin-right: .6em;
		padding: 0;
		padding: 0 .8em;

		vertical-align: middle;

		border: none;
		border: .25em solid #addff1;
		border-radius: .6em;
		background: linear-gradient(#e8e8e8, #fff);
		box-shadow: inset 0 3px 1px -1px rgba(0, 0, 0, .35);

		flex-grow: 1;
		&:focus {
			outline: none;
			background: #fff;
			box-shadow: none;
		}
	}
	form {
		display: flex;

		align-items: center;
	}
	.action.primary {
		font-size: 1.33em;

		display: inline-block;

		padding: .2em 1.3em;

		color: #464646;
		border: 1px solid #d4d4d4;
		background-image: linear-gradient(#fcfcfc 37%, #cfcfcf 81%);
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
		text-shadow: 0 1px 0 #fff;
		&:hover {
			background-image: linear-gradient(#fff 37%, #dcdcdc 81%);
		}
		&:active {
			padding: .25em 1.3em .15em;

			background-image: linear-gradient(#f0f0f0 37%, #c6c6c6 81%);
		}
	}
	&.add-favourites,
	&.pars {
		background-image: linear-gradient(#fbf4f4, #f1dede);
		&:after {
			@include lines-pattern(#ff7241, #ff7e7e, #f8521a);
		}
		.icon {
			fill: #f8521a;
		}
		input[type='email'] {
			border-color: #ffb6b6;
		}
	}
	&.subscribe-shop {
		.logo {
			width: 150px;
			height: 120px;
			margin-right: 1.8em;

			background: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

			object-fit: contain;
		}
	}
}
