.shop-description {
	font-size: 1.2em;

	overflow: hidden;
	color: #9b9b9b;
	.logo {
		float: left;

		margin-right: 1.75rem;

		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		width: 150px;
		background: #fff;
		
		text-align: center;
		font-size: 0;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			vertical-align: middle;
		}
	}
	.text {
		overflow: hidden;
		p {
			margin: 0;
		}
	}
	.toggle {
		padding: 0;
		border: none;
		background: transparent;
		color: #9b9b9b;
		&:hover {
			color: #b3b3b3;
		}
	}
}
