.shop-description {
	font-size: 1.2em;

	margin-bottom: 3em;

	color: #9b9b9b;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.logo {
		font-size: 0;

		float: left;

		width: 150px;

		text-align: center;

		background: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		&:before {
			display: inline-block;

			height: 100%;

			content: '';
			vertical-align: middle;
		}
		img {
			max-width: 100%;

			vertical-align: middle;
		}
	}
	.text {
		margin-left: 170px;
		p {
			margin: 0;
		}
	}
	h1 {
		font-size: 2rem;
		line-height: 1;

		margin-bottom: .2em;
	}
	.toggle {
		padding: 0;

		color: #9b9b9b;
		border: none;
		background: transparent;
		&:hover {
			color: #b3b3b3;
		}
	}
	.description {
		overflow: hidden;

		max-height: 1.4em * 3;
		&.open {
			max-height: none;
		}
	}
	.confirm-controls {
		font-size: 1rem;
		overflow: visible;
	}
}
