.wizard {
	display: flex;
	border: 1px solid #f4f4f4;
	border-radius: .25em;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	.step {
		flex-grow: 1;
		width: 100%;
		padding: 0 1.8em;
		&:first-child {
			background: #fcfbf9;
			box-shadow: 3px 0 5px rgba(0, 0, 0, .11);
			position: relative;
			z-index: 1;
		}
		&:not(:first-child) .step-title {
			padding-left: 2.4em;
			&:before {
				content: '';
				display: block;
				width: 100px;
				height: 100px;
				position: absolute;
				top: 50%;
				margin-top: -50px;
				right: 100%;
				border: 2px solid #e5e5e5;
				transform: scaleY(1.6) rotate(45deg);
			}
		}
		+.step {
			border-left: 1px solid #f4f4f4;
		}
	}
	.step-title {
		font-size: 1.33em;
		font-weight: bold;
		color: #fdfdfd;
		text-transform: uppercase;
		background-image: linear-gradient(#21a5d6, #4dc9f7);
		padding: 1em 1.6em;
		margin: 0 calc(-1.8rem - 1px) 2em;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
}