.faq {
	padding: 0 60px;
	article {
		margin-bottom: 2.5em;
		padding-bottom: 2.3em;

		border-bottom: 1px dashed rgba(0, 0, 0, .2);
	}
	a {
		display: block;

		margin: 1em 0;

		text-decoration: underline;
	}
}
